.register-form {
    -fx-background-image: url('/img/logo.png');
    -fx-background-size: cover;
}

.title-label {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

.error-label {
    -fx-text-fill: red;
}

.register-button {
    -fx-background-color: #ff7f50;
    -fx-text-fill: white;
}
